@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
  --black: #09090c;
  --grey: #a4b2bc;
  --background: rgba(137, 171, 245, 0.37);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

.icon {
  font-size: 19px;
}

.logout {
  width: 100%;
  height: auto;
  color: red;
}

@tailwind base;
@tailwind components;
@tailwind utilities;